%blocks {

    /*
    
    BEM CSS
    - Block
    - Element
    - Modifier


    */

    padding: 3rem 0;

h2 {

    color: $color-01;
}

ul {

    list-style-type: none;
    font-size: $font-small;
    display: flex;
    justify-content: space-between;
    float: left;
    height: auto;
    padding: 1rem 0;
    width: 100%;
    margin: 0 auto;

}

li {
    color: $color-02;
    display: block;
    margin: $space-default auto;

    width: 30%;

@media (max-width: 999px) {

    width: calc(99% - 30px);
    text-align: center;

}


.img-container {


display: block;
height: 200px;
overflow: hidden;
width: 100%;

@media(max-width: $tablet) {

    height: 140px;

}
}


a {

    background-color: $color-01;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: $font-medium;
    margin: $mt-02 auto $mb;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
}

}

}




// Media


@media (max-width: 999.98px) {


    
    .blocks ul {
        list-style-type: none;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 0;
        width: 100%;
        height: 100%;
    }

   ul img {
        height: 180px;

    }

    .blocks li a {

        width: 650px;
    }
}



@media (max-width: 768.98px) {


    
    .blocks ul {
        list-style-type: none;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 0;
        width: 100%;
        height: 100%;
    }

   ul img {
        height: 250px;

    }
    .blocks li a {

        width: 480px;
    }

}


@media  (max-width: 767px) {


    .blocks li a {

        width: auto;
    }

}