.cars {

&__title {
        color: $color-02;
    }

&__item {

        color: $color-01;
   

        &--destack {

            @include theme; 
        }

    &__button {

        background-color: $color-default;
    }

}

}