body {
background-color: #ccc;
font-size: 62.5%;
}

.main-container {

   background: #fff;
    max-width: 1198px;
    margin: 0 auto;
    padding: 20px;
}

header {

}


section {
    font-size: 1.5rem;   /* 15px */


}


section nav {



}


section article {


}


footer {



}